/* https://coolors.co/ffe4e1-7f6292-67577e-f6b179-eca265-3e344f color-scheme */

.show-todo-section::-webkit-scrollbar {
  width: 5px;
  scroll-snap-type: none;
}

.show-todo-section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ff7300;
  border-radius: 10px;
}
.show-todo-section::-webkit-scrollbar-thumb {
  background: #7f6292;
  border-radius: 10px;
}
.show-todo-section::-webkit-scrollbar-thumb:hover {
  background: #6e5c88;
}

::-webkit-scrollbar {
  width: 5px;
  scroll-snap-type: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #67577e;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #f6b179;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #eca265;
}

body {
  /* margin-top: 50px; */
  /* background-image: url(../img/background.png); */
  background-image: url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100%; */
  min-height: 100vh;
  position: aboslute;
}

#root h1 {
  text-align: center;
}

.wah {
  text-align: center;
  font-size: 46px;
  font-family: "Dancing Script", cursive;
  color: #ffe4e1;
}

.input-box {
  border: 1px solid #67577e;
}

.holder-place {
  text-align: center;
  font-family: "Comfortaa", cursive;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  max-width: 500px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.add-section {
  width: 100%;
  background: #fff;
  margin: 0px auto;
  padding: 10px;
  border-radius: 5px;
}

.ttt {
  font-family: "Poiret One", cursive;
  border-radius: 20px;
  padding: 10px;
  font-weight: 800;
  text-align: center;
  font-size: 50px;
}

.add-section input {
  display: block;
  width: 95%;
  height: 40px;
  margin: 10px auto;
  border: 2px solid #ccc;
  font-size: 16px;
  border-radius: 5px;
  padding: 0px 5px;
}

.add-section button {
  display: block;
  width: 95%;
  height: 40px;
  margin: 0px auto;
  border: none;
  outline: none;
  background: #7f6292;
  color: #ffe4e1;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.add-section button:hover {
  box-shadow: 0 2px 2px 0 #eca265, 0 2px 3px 0 #f6b179;
  opacity: 0.9;
  color: #f6b179;
}

.add-section button span {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 18px;
  height: 18px;
}

#errorMes {
  display: block;
  background: #f2dede;
  width: 95%;
  margin: 0px auto;
  color: rgb(139, 19, 19);
  padding: 10px;
  height: 35px;
}

.todo-item {
  max-width: 456px;
  margin: 10px auto;
  /* padding: 20px 10px 20px 10px; */
  padding: 20px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 #67577e;
  border-radius: 5px;
}

.todo-item:nth-child(odd) {
  background: #f6b179;
  color: #3e344f;
}
.todo-item:nth-child(even) {
  background: #67577e;
  color: #ffe4e1;
}

.todo-item:nth-child(even) small {
  color: #f1d5f1;
}

.todo-item h4 {
  display: inline-block;
  margins-top: -5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  width: 85%;
}

.todo-item small {
  display: block;
  width: 100%;
  padding: 5px 0px;
  color: #888;
  padding-left: 30px;
  font-size: 14px;
  font-family: sans-serif;
}

.remove-to-do {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: right;
  padding: 0px 5px 8px 0px;
  border-radius: 50%;
  transition: background 1s;
  cursor: pointer;
}

/* .remove-to-do:nth-child(odd) {
  color: #8b615d;
}
.remove-to-do:nth-child(even) {
  color: #ffe4e1;
} */

.remove-to-do:nth-child(odd):hover {
  background: #60337e;
  color: #fff;
}
.remove-to-do:nth-child(even):hover {
  background: #ffffff;
  color: #ffffff;
}

.checked {
  color: #999 !important;
  text-decoration: line-through;
}

.check-box {
  padding-top: 5px;
  vertical-align: top;
}

.todo-item input {
  margin: 0px 5px;
}

.empty {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  color: #cccc;
}

.todo-item.all-done {
  background-color: #544d70;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ina img {
  max-width: 456px;
  text-align: center;
}

.dia {
  width: 200px;
  margin: 0 auto -50px auto;
}

.dia img {
  text-align: center;
}

.hr1 {
  width: 100%;
  border: 3px solid #64557d;
  background: #64557d;
  margin: 10px auto;
  border-radius: 3px;
}
.hr2 {
  width: 79%;
  border: 2px solid #7a5f8e;
  background: #7a5f8e;
  border-radius: 2px;
  margin: 0px auto;
}

.show-todo-section {
  width: 100%;
  background: #fff;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  height: auto;
  max-height: 340px;
  overflow-y: scroll;
}

@media only screen and (min-width: 1920px) {
  .show-todo-section {
    max-height: 420px;
  }
}

@media only screen and (min-width: 2112px) {
  .show-todo-section {
    max-height: 505px;
  }
}
@media only screen and (min-width: 2300px) {
  .show-todo-section {
    max-height: 620px;
  }
}
@media only screen and (min-width: 2410px) {
  .show-todo-section {
    max-height: 680px;
  }
}

@media only screen and (min-width: 2600px) {
  .show-todo-section {
    max-height: 830px;
  }

  @media only screen and (min-width: 2890px) {
    .show-todo-section {
      max-height: 1225px;
    }
  }

  @media only screen and (min-width: 3900px) {
    .show-todo-section {
      max-height: 2835px;
    }
  }
}
